# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# This project specific
Study_Coordinator/bin
Study_Coordinator/gen

Study_Coordinator/gen/com/example/study_coordinator/BuildConfig.java
Study_Coordinator/gen/com/example/study_coordinator/R.java
Study_Coordinator/gen/com/example/study_coordinator/R.java
Study_Coordinator/gen/com/example/study_coordinator/R.java
Study_Coordinator/src/com/example/study_coordinator/DatabaseConnect.java
Study_Coordinator/src/com/example/study_coordinator/DatabaseConnect.java
Study_Coordinator/src/com/example/study_coordinator/DatabaseConnect.java
